body{
	font-family: sans-serif;
	font-style: 


	background-image: url("http://www.hookfilez-2.com/Steph-FEWD/Week2-Day3/hero1.jpg" alt="hero image 1");
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}